$backgroundColor: #181818;
$cardBgColor:#1e1e1e;
$hoverShodow:#ffffff1f;
$shadowParams: -2px 2px 3px -1px ;
$activeColor:#14a800;
$hoverTextColor:#108a00;
$textColor:#fff;

.tooltipBox {
    position: absolute;
    z-index: 3;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.1s ease;
    transition-delay: 0s;
    top: 125%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    text-transform: none;
    background-color: $backgroundColor;
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
    box-shadow: 0 8px 24px 2px #ffffff1f,0 0 0 1px #333;
    color: $textColor;
    border-radius: 6px;

    &::before{
        content: "";
        display: block;
        position: absolute;
        top: -7px;
        left: 50%;
        transform: translateX(-50%) rotate(135deg);
        background-color: #181818;
        border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #181818 #181818;
        box-shadow: -2px 2px 3px -1px rgba(255, 255, 255, 0.1215686275);
        border: 8px solid #181818;
    }

    &.showTooltip {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        transition-delay: 0.5s;
    }
}

.tooltipBoxRight {
    position: absolute;
    z-index: 3;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: all 0.1s ease;
    transition-delay: 0;
    top: 125%;
    right: -5px;
    padding: 10px;
    text-transform: none;
    background-color: $backgroundColor;
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
    box-shadow: 0 8px 24px 2px #ffffff1f,0 0 0 1px #333;
    color: $textColor;
    border-radius: 6px;

    &::before{
        content: "";
        display: block;
        position: absolute;
        top: -7px;
        left: 80%;
        transform: translateX(-50%) rotate(135deg);
        background-color: #181818;
        border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #181818 #181818;
        box-shadow: -2px 2px 3px -1px rgba(255, 255, 255, 0.1215686275);
        border: 8px solid #181818;
    }

    &.showTooltip {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        transition-delay: 0.5s;
    }
}

.dropdownBox{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    position: absolute;
    top: 100%;
    left: -10px;
    transform: translateX(-75%);
    min-width: 245px;
    z-index: 2;
    padding: 9px 0;
    background-color: $backgroundColor;
    border-radius: 6px;
    box-shadow: 0 8px 24px 2px #ffffff1f,0 0 0 1px #333;

    &::before{
        content: "";
        display: block;
        position: absolute;
        top: -7px;
        left: 88%;
        border: 7px solid $backgroundColor;
        transform: translateX(-50%) rotate(135deg);
        background-color: #181818;
        box-shadow: -2px 2px 3px -1px rgba(255, 255, 255, 0.1215686275);
        z-index: 1; 
    }
}

.navbarHelpBtns{
    width: 44px;
    height: 44px;
    position: relative;
    
    & svg{
        width: 24px;
        height: 24px;
        stroke: $textColor;
    }

    & img{
        width: 32px;
        height: 32px;
        border-radius: 100%;
        border: 1px solid $hoverShodow;
    }
}

.clicked {
    & svg{
        stroke: $activeColor;
    }
}