*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Neue Montreal', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('https://www.upwork.com/static/fonts-global/4.5.1/neue-montreal-variable.woff2') format('woff2');
}

body {
  margin: 0;
  background-color: #181818;
  min-height: 100vh;
  max-width: 1920px;
}

button, input, select, textarea{
  outline: none;
}

li{
  list-style: none;
}

a{
  text-decoration: none ;
}

button{
  cursor: pointer;
}